<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          
    
  </head>

  <body>

<!--サイトの共通ヘッダー(ナビゲーションなど)の部分-->
  <header class="header">
    <div class="header__bar row">
    <nav>
    <div class="nav-wrapper #80deea cyan lighten-3">
        <a href="/" class="brand-logo center">Brain Storming for Nomad</a>
        <% if user_signed_in? %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <div class="user_nav grid-6">
              <li><a><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a></li>
              <li><a class="post" href="/tweets/new">投稿する</a></li>
            </div>
        <% else %>
            <div class="grid-6">
              <li><a><%= link_to "ログイン", new_user_session_path, class: 'post' %></a></li>
              <li><a><%= link_to "新規登録", new_user_registration_path, class: 'post' %></a></li>
            </div>
        </ul>
        <% end %>
    </div>
    </nav>
  </header>

<!--サイトの各ページごとの中身の部分-->
    <%= yield %>

  </body>
</html>